/* 
AUTOR: Armando Ramos
VERSION: 1.0 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: burlywood;
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pantalla-juego{
    width: 65em;
    height: 40em;
    background-color: cornsilk;
    border: 0.5em solid rgb(37, 37, 37);
}