/* 
AUTOR: Armando Ramos
VERSION: 1.0 
*/
/* IMPORTO FUENTE PARA EL VIDEOJUEGO */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* FORMATEO TODO EL DOCUMENTO PARA QUE NO HAYA MARGIN Y PADDING QUE NO CONTROLO */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

/* CONTENEDOR PARA CENTRAR EL JUEGO */
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P';
}

/* BOTON PARA CAMBIAR ENTRE JUEGO Y MENU INICIO */
#switch{
    z-index: 3;
    position: absolute;
    bottom: 1em;
    left: 1em;
    padding: 0.25em;
    box-shadow: 0px 0px 30px 2px rgb(250, 255, 185);
    cursor: pointer;
    transform: scaleY(0);
    transition: 0.2s;
    font-size: 2em;
    color: red;
    background-color: black;
    border: 0.2em solid white;
}

/*PANTALLA EN DONDE SELECCIONAMOS A LOS PERSONAJES*/
#seleccion-personajes{
    width: 68%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    /* border: 0.5em solid rgb(160, 160, 160); */
    display: flex;
    font-family: 'Press Start 2P';
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
}
#mensaje-selecciona-heroes{
    position: absolute;
    top: 1%;
    padding: 0.5em;
    color: rgb(251, 255, 0);
    background-color: black;
    border: 0.1em solid white;
}
.personaje-para-elegir{
    color: whitesmoke;
    background-color: rgb(48, 52, 59);
    height: auto;
    width: 23%;
    transition: 0.4s;
    cursor: pointer;
    font-size: 0.9em;
    padding: 0.5em;
    text-align: right;
}
.personaje-para-elegir h1{
    font-size: 0.9em;
    padding: 0.5em 0;
}
.personaje-para-elegir img{
    width: 7em;
    height: 9em;
    margin-bottom: 1em;
}

/* ELEMENTO EN EL QUE CARGAREMOS TODO EL JUEGO */
#pantalla-juego{
    width: 68%;
    height: 100%;
    background-color: cornsilk;
    /* border: 0.5em solid rgb(160, 160, 160); */
    display: none;
    font-family: 'Press Start 2P';
    position: relative;
}
/* PANTALLA QUE APARECERÁ AL PRINCIPIO DE NUESTRO TURNO. TENDREMOS QUE DAR AL BOTON PARA PODER JUGAR */
#pantalla-empezar-turno{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* BOTON QUE NECESITAMOS PULSAR PARA EMPEZAR A JUGAR NUESTRO TURNO */
#boton-empezar-turno{
    font-size: 2.5em;
    padding: 0.5em;
    color: red;
    background-color: black;
    border: 0.2em solid white;
    cursor:pointer;
}
 /*BOTON PARA DAR EL TURNO POR FINALIZADO*/
#boton-terminar-turno{
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 1.5em;
    padding: 0.5em;
    color: red;
    background-color: black;
    border: 0.2em solid white;
    cursor:pointer;
    display: none;
}
/* CONTENEDOR EN EL QUE TENEMOS LA LISTA DE HABILIDADES DE TODOS LOS PERSONAJES */
#habilidades-personajes{
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

/* CONTENEDOR DE CADA LISTA DE HABILIDADES. CADA PERSONAJE TENDRÁ LA SUYA. AQUI FORMATEAMOS TODAS */
.lista-habilidades{
    width: 25%;
    height: 100%;
    background-color: rgb(58, 58, 58);
    border: 0.2em solid black;
    margin: 0 0.1em 0.6em 0.1em;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

/* NOMBRES DE LAS HABILIDADES */
input[type="radio"]{
    display: none;
}
label{
    font-size: 0.5em;
    color: white;
    margin-left: 2em;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}
label:hover{
    text-decoration: underline;
    color: yellow;
}
input:checked + label {
    text-decoration: underline;
    color: yellow;
}
label:hover::before{
    position: absolute;
    left: 0;
    height: auto;
    top: -6em;
    content: "Hechizo que libera un caballo de fuego hacia el enemigo. Puede quemar";
    position: absolute;
    color: black;
    background-color: white;
    border: 0.2em solid red;
    padding: 0.5em;
}
label span{
    color:cornflowerblue;
}